<!DOCTYPE html>
<html>
	<head>
		<title>foodbook</title>
		
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/landing.css">
        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" async></script>
        <!--async: so that this JS runs simultanously with other pages-->
        
	</head>
	
	<body>
        
        <div class="container"> 
		
			<!--Here "error.length" is the most important logic-->
			<% if(error && error.length > 0){ %>
				<div class="alert alert-danger" role="alert"> <%= error %></div>
			<% } %>
			
			<% if(success && success.length > 0){ %>
				<div class="alert alert-success" role="alert"><%= success %></div>
			<% } %>
			
			
		</div>

        <div id="landing-header">
        
            <h1>Welcome to foodbook</h1>
            
            <a href="/foods" class="btn btn-lg btn-success">View All foods!</a>
            
        </div>
        
        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

<% include partials/footer %>
